@import 'sweet-minimalist.css';

#write {
	font-family: "Heebo", sans-serif !important;
  	font-style: normal;
}

#write > h1, #write > h2, #write > h3, #write > h4, #write > h5, #write > h6 {
	font-family: "Rubik", sans-serif !important;
}

#write, #write > * {
	direction: rtl !important;
	text-align: right !important;
}